<!DOCTYPE html>
<html>
<head>
	<title>GoSearch</title>
	<link rel="stylesheet" href=https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css>
  <link rel="stylesheet" href="/static/css/main.css">

</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">GoSearch</a>
            <a class="navbar-brand" href="/search">New Search</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">

                {% if current_user.is_authenticated %}
                <li><a href="#">Hi {{current_user.username}}</a></li>
                <li><a href="{{ url_for('logout') }}">Log out</a></li>
                {%  else  %}
                <li><a href="{{ url_for('login') }}">Log in</a></li>
                <li><a href={{ url_for('register') }}>Register</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
  </nav>
{% block content %}

{% endblock %}

  </body>
</html>
