<!DOCTYPE html>
<html>
<head>
	<title></title>
	{% block head %}
	<link rel="stylesheet" href=https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css>
	<link rel="stylesheet" href="/static/css/main.css">
	<link href='//fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	{% endblock %}
</head>
<body>

	<div id="content">
		{% block content %}

		{% endblock %}

		<div class="trademark" >
		<p>&copy; Inbox America 2020. All Rights Reserved.</p>
		</div>
	</div>


	<div id="footer">
	    {% block  footer %}
	    <script>This is javascript code </script>
	    {% endblock %}
	</div>

  </body>
</html>
