{% extends "base.html" %}

{% block head %}
    {{  super()  }}
		<link rel="stylesheet" href="/static/css/homePage.css">
		<link href='//fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

{% endblock %}

{% block content %}
  <div id="page-breadcrumb" class="Guide">
		<h2 style="margin-left:60px; margin-bottom: 15px;">Emailing Statistics Reports</h2>
    <h4 style="margin-left:60px; ">Please select your templates and time slots.</h4>
  </div>
  <div class="uploafForm">
  <form action="/upload" method="POST" enctype="multipart/form-data">

        <label for="file" style="font-size:15px; font-family: Lato;">Upload Data: </label>
        <input type="file" name="file" id ="file" style="text-align: right; font-family: Lato;margin-bottom: 10px;" value="Upload data: ">

        <input type="submit" class="btn btn-default btn-sm" value="Update" style="border: none; margin-right:20px; background: #b3b3b3;color: white;"
				onmouseover="this.style.backgroundColor='#D29948';" onmouseout="this.style.backgroundColor='#b3b3b3';">
  </form>
  </div>

  {% with messages = get_flashed_messages() %}



        {% if messages[0]==("Upload Success!") %}
        <div class="alert alert-success alert-dismissible" role="alert" style="text-align: center;">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>

          </button>
          <strong>Success!</strong> You have updated data.
        </div>
        {% endif %}



{% endwith %}
	<div class="SearchForm">
    <form class="SearchForm"  method="post" name = "form1">
			<div class="Choices">
				<label for="StartDate" style="font-size: 15px; margin-right: 2px;">Start Date</label>
				<input type="text" name = "StartDate" value="1/1/2017" id = "StartDate" style="margin-right:20px;font-family:Lato; font-size: 15px;"/>
				<span class="glyphicon glyphicon-arrow-right" style="margin-right:20px; color: #c68c53;"></span>
				<label for="EndDate" style="font-size: 15px; margin-right: 2px;">End Date</label>
				<input type="text" name = "EndDate" value="12/31/2020" id = "EndDate" style="margin-right:20px;margin-bottom:20px;font-family:Lato; font-size: 15px;"/>
				<br>
				{{ possibleTemplates.csrf_token }}
				{% for i in range(length) %}

				<input type="checkbox" name="choices" id={{i}} value="{{possibleTemplates[i]}}" unchecked>
				<label for={{i}} style="font-size: 11px;">{{possibleTemplates[i]}}</label>
				<br>
				{% endfor %}
				<div class="buttons">

				<button type="reset" value="Reset" class="btn btn-default btn-sm" style="border: none; margin-right:20px; background: #b3b3b3;color: white;"
				onmouseover="this.style.backgroundColor='#D29948';" onmouseout="this.style.backgroundColor='#b3b3b3';" >
					<span class="glyphicon glyphicon-refresh" style="margin-right:5px;"></span>
					Reset
				</button>
				<button type="submit" onclick="find();" class="btn btn-default btn-sm" style="border: none; margin-right:20px; background: #b3b3b3;color: white;"
				onmouseover="this.style.backgroundColor='#D29948';" onmouseout="this.style.backgroundColor='#b3b3b3';">
					<span class="glyphicon glyphicon-book" style="margin-right:2px;"></span>
					Get Result
				</button>
				<button type="submit" onclick="download()" class="btn btn-default btn-sm" style="border: none; margin-right:20px; background: #b3b3b3;color: white;"
				onmouseover="this.style.backgroundColor='#D29948';" onmouseout="this.style.backgroundColor='#b3b3b3';">
					<span class="glyphicon glyphicon-download-alt" style="margin-right:2px;"></span>
					Download Report
				</button>
				</div>
			</div>

      <style type="text/css">
    	.checkbox{ vertical-align:middle; margin:20px;margin-left:20px;margin-right:20px;margin-top:20px;margin-bottom:20px;height:15px; padding:0;}
      </style>
    </form>
	</div>

{% endblock %}

{% block footer %}
<script>
    function find(){
        document.form1.action='/getRes';
        document.form1.submit();
    }
    function download() {
        document.form1.action = '/downloadCSV';
        document.form1.submit();
    }
		window.onload = function() {
            var btn = document.getElementById('btn');
            btn.onmouseover = function() {
                $("#btn").addClass('btn-info');
            };
            btn.onmouseout = function() {
                $("#btn").removeClass('btn-info')
            };
    };

</script>



{% endblock %}
