{% extends "base.html" %}

{% block head %}
    {{  super()  }}
		<link rel="stylesheet" href="/static/css/showRes.css">
{% endblock %}

{% block content %}
    <div class="content">
      <div id="page-breadcrumb" class="Guide">
        <div class="pickedT">
          <h3 style="margin-left:60px; margin-bottom: 15px">Picked templates: </h3>
          {% for i in range(numTemp) %}
          <label for="">{{choices_t[i]}}</label>
          {% endfor %}
        </div>
      </div>
      <div  class="table" >
        <h3 style="font-family:Lato;">The results from <span style="color: #855b2e; font-weight: 600;">
          {{startDate}}</span> to <span style="color: #855b2e; font-weight: 600;">{{endDate}}</span> </h3>
        <br>

        <button onclick="show('month')" class="btn btn-info" style="border: none;  margin-bottom: 10px; background: #b3b3b3;color: white;"
        onmouseover="this.style.backgroundColor='#D29948';" onmouseout="this.style.backgroundColor='#b3b3b3';">Display by Month</button>
        <button onclick="show('day')" class="btn btn-info" style="border: none;  margin-bottom: 10px; background: #b3b3b3;color: white;"
        onmouseover="this.style.backgroundColor='#D29948';" onmouseout="this.style.backgroundColor='#b3b3b3';">Display by Day</button>
        <div id="month">
          {% for table in dfResult %}
              <h5 style="text-align:center; margin-left: 110px;">{{ table|safe }}</h5>
          {% endfor %}
        </div>
        <div id="day">
          {% for table in dfDay %}
              <h5 style="text-align:center; margin-left: 100px;">{{ table|safe }}</h5>
          {% endfor %}
        </div>
      </div>

      <div class="result" style="font-family:Lato;font-size: 20px;text-align:center;">
        <h3 style="margin-bottom: 15px;text-align:center;margin-right:0px;">Overall result:</h3>
        <h5 >Sent = {{numResult[0]}}</h5>
        <h5>Delivered = {{numResult[1]}}</h5>
        <h5>Delivery Rate = {{numResult[2]}}</h5>
        <h5>Open Rate = {{numResult[3]}}</h5>
        <h5>Click Rate = {{numResult[4]}}</h5>
      </div>

      <div class="button">
        <a href="/" class="btn btn-info" style="border: none;  margin-top: 10px; background: #b3b3b3;color: white;"
        onmouseover="this.style.backgroundColor='#D29948';" onmouseout="this.style.backgroundColor='#b3b3b3';">Back</a>
      </div>
    </div>



{% endblock %}


{% block footer %}
<script>

  document.getElementById("month").style.display='block';
  document.getElementById("day").style.display='none';
function show(id) {
  if(id=='month'){
  document.getElementById("month").style.display='block';
  document.getElementById("day").style.display='none';
}else if(id=='day'){
  document.getElementById("month").style.display='none';
  document.getElementById("day").style.display='block';
  }
}


</script>
{% endblock %}
